[Unit]
Description=Simeis server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=simeis
ExecStart=/usr/bin/simeis-server

[Install]
WantedBy=multi-user.target